<!doctype html>
	<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>kickball_site</title>
	  <link rel="stylesheet" href="/stylesheets/app.css">
	</head>

	<body>
	  <h1> <%= "#{@team_name}" %> </h1>

	  <% @teams.each do |team| %>
	    <% if team.name == @team_name %>
	      <% team.players.each do |player| %>
	        <h3> <%= "#{player.name}: #{player.position}" %> </h3>
	      <% end %>
	    <% end %>
	  <% end %>

	  <script src="/javascripts/app.js"></script>
	</body>
</html>
